body{
    margin: 0 auto;
    font-family: "PlayfairDisplay-Regular";
    background-color: rgb(248,248,248);
    }
    h1,h2,h3,h4,h5,h6{
    font-family: Book Antiqua;
    }
    p{
    font-size: 17px;
    }
    .logo-set{
    margin-top: 5px;
    max-width: 80px;
    }
    .fixed-top{
    position: absolute;
    }
    .carousel-caption{
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 250px;
    }
    .nav-link{
    color: #ffffff !important;
    font-weight: 400!important;
    font-size: 20px;
    padding: 20px 20px;
    }
    .nav-link:hover,.nav-link:focus{
    color: yellow !important;
    }
    .nav-link.active{
    color: yellow !important;
    }
    nav li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 20px;
    }
    .intro{
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 200px;
    }
    .carouselExampleControls{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
    .bread{
    background: unset;
    position: absolute;
    margin: auto;
    width: 200px;
    top: 320px;
    left: 0;
    right: 0;
    bottom: 0;
    }
    .about{
    margin-top: 100px;
    }
    .video-link{
    max-width: 100%;
    }
    .txt{
    text-decoration: underline;
    text-decoration-color: #0078ff; 
    text-underline-position: under;
    }
    .card-img-top{
    max-width: 50%;	
    margin-top: 30px;
    }
    .font-icons {
    padding-left: 10px;
    margin-top: 30px;
    font-size: 18px;
    }
    .font-icons a{
    color: white;
    opacity: 1;
    }
    .font-icons a:hover{
    color: red;
    }
    .copyrights {
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: url(img/footer.jpg);
    background-size: cover;
    color: #fff;
    }
    .copyrights a{
    text-decoration: none;
    }
    .copyrights h3{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #0078ff;
    }
    .credits {
    color: #999;
    padding-left: 10px;
    }
    @media only screen and (min-width: 280px) and (max-width: 1200px) {
    .breadcrumb{
    background: unset;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    }
    }
    @media only screen and (max-width: 992px) {
    .nav-link{
    color: white !important;
    font-weight: 400!important;
    font-size: 20px;
    padding: 20px 20px;
    }
    }
    @media only screen and (max-width: 992px){
    .fixed-top{
    position: unset;
    background-image: url(img/nav-toggler.jpg);
    background-size: top;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }
    }
    
    
    
    ------------------------------------------------------------*/
#header {
  background: #e9e8e6;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #222222;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}


body {
  font: 400 1em/1.5 "Neuton";
  
  color: rgba(255, 255, 255, .25);
  text-align: center;
  margin: 0;
}
p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, .25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}
p span {
  font: 700 4em "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);
 /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
 /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
 /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
 }
  100% {
    background-position: 100% 50%;
 }
}
